<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    <li><a href="https://github.com/darius522/dnr-utils" rel="author"><i class="fab fa-github"></i> DnR Utils</a></li>
    <li><a href="https://zenodo.org/record/6949108#.Y87Abi-B3yK" rel="external"><i class='fa fa-file-audio'></i> DnR Dataset</a></li>
    <li><a href="https://arxiv.org/abs/2110.09958" rel="external"><i class='fa fa-graduation-cap'></i> The Paper</a></li>
  </ul>
</div>
